.header {
  /* min-height: 60px; */
  /* max-height: 70px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 50%;
  height: 2px;
  background: white;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 50%;
  height: 2px;
  background: white;
}

.logo {
  max-height: 50px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
}

.wallet-button {
  border-radius: 46px;
  border: 3px solid #ffd700;
  background: rgba(0, 0, 0, 0);
  padding: 0 10px;
  margin: 10px 0;
}
