.animatelink {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scale3d(0.1, 1, 1);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
  }
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    height: 100%;
    transform: translate3d(150%, 0, 0);
  }
  &:hover:before {
    transform: scale3d(1, 1, 1);
    transform-origin: center;
  }
  @media (max-width: 380px) {
    font-size: 16px;
  }
  @media (max-width: 290px) {
    font-size: 14px;
  }
}

.sociallink {
  color: #ffffff;
  &:hover {
    animation: sociallinkAnimation 0.2s infinite;
  }
  @keyframes sociallinkAnimation {
    0% {
      text-shadow: 5px 4px #f8f000, -5px -6px #f8f000;
    }
    25% {
      text-shadow: -5px -6px #f8f000, 5px 4px #f8f000;
    }
    50% {
      text-shadow: 5px -4px #f8f000, -8px 4px #f8f000;
    }
    75% {
      text-shadow: -8px -4px #f8f000, -5px -4px #f8f000;
    }
    100% {
      text-shadow: -5px 0 #f8f000, 5px -4px #f8f000;
    }
  }
}

.section-division {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  img {
    max-height: 300px;
  }

}