@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@font-face {
  font-family: "curly", cursive;
  src: url(../fonts/Italianno-Regular.ttf) format("ttf");
  font-style: normal;
  font-weight: 400;
}
* {
  margin: 0;
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}
html,
body {
  overflow-x: hidden;
  background-color: #1E1E1E;
  color: white;
}
body {
  font-family: "Lato", "sans-serif";
  line-height: 1.5;
}
button,
input,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
img,
video,
canvas,
svg {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
