.landing {
  position: relative;
  width: 100%;
  background: black;
  color: #ffffff;
  overflow: hidden;
  background-image: url("../images/IMG_3604.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  img {
    visibility: hidden;
  }
  @media (min-width: 1200px) {
    background-size: cover;
    height: 100vh;
  }
  .header {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    &__wrap {
      padding: 10px;
      display: flex;
      align-items: right;
      justify-content: right;
      width: 60vw;
    }
    &__left {
      display: flex;
      align-items: right;
      gap: 2rem;
      & li {
        font-weight: 700;
        font-style: 18px;
      }
    }
    @media (max-width: 1200px) {
      &__wrap {
        width: 100vw;
      }
    }
  }
  .socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    &__links {
      display: flex;
      align-items: right;
      gap: 2rem;
      & li {
        font-weight: 300;
        font-style: 8px;
      }
    }
  }
  .scrollDown {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    &__wheel {
      height: 42px;
      width: 24px;
      border-radius: 10px;
      border: 2px solid #000;
      &--inner {
        position: absolute;
        left: 10px;
        margin-top: 5px;
        width: 4px;
        height: 4px;
        background: #000;
        border-radius: 50%;
        animation: movingwheel 0.5s linear infinite;
        @keyframes movingwheel {
          0% {
            top: 1px;
          }
          25% {
            top: 2px;
          }
          50% {
            top: 3px;
          }
          75% {
            top: 2px;
          }
          100% {
            top: 1px;
          }
        }
      }
    }
    .scrollDown__arrows {
      display: flex;
      flex-direction: column;
      align-items: center;
      .scrollDown__arrow {
        width: 15px;
        height: 15px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(45deg);
        animation: scrollAnimation 1s infinite;
        animation-direction: alternate;
        &:nth-child(1) {
          animation-delay: 0.1s;
        }
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
        @keyframes scrollAnimation {
          0% {
            opacity: 0;
          }
          25% {
            opacity: 0.25;
          }
          50% {
            opacity: 0.5;
          }
          75% {
            opacity: 0.75;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}
